<h1>Pick what you want</h1>
<div>
  <p>Show Performance Details:</p>
    <input 
      type="checkbox" 
      [checked]="performanceDetails" 
      (change)="performanceDetails = !performanceDetails" />
      {{performanceDetails}}
</div>

<div> 
  <p>Sort By:</p>
  <select [(ngModel)]="selectedSortOption" (ngModelChange)="onChangeSort($event)">
    <option *ngFor="let option of options" [ngValue]="option.value">{{option.text}}</option>
  </select>
</div>

<div>
  <p>How Far do you want to go?</p>
  <select [(ngModel)]="selectedRange" (ngModelChange)="onChangeRange($event)">
    <option *ngFor="let range of ranges" [ngValue]="range.value">{{range.text}}</option>
  </select>

  <p>How much do you want to pay?</p>
  <select [(ngModel)]="selectedCost" (ngModelChange)="onChangeCost($event)">
    <option *ngFor="let amount of cost" [ngValue]="amount.value">{{amount.text}}</option>
  </select>
</div>

<app-cars [selectedRange]='selectedRange' [selectedCost]='selectedCost' [selectedSortOption]='selectedSortOption' [performanceDetails]='performanceDetails'></app-cars>
