<h1>Pick what you want</h1>

<div> 
  <label>Sort By:</label>
  <select [(ngModel)]="selectedSortOption" (ngModelChange)="onChangeSort($event)">
    <option *ngFor="let option of options" [ngValue]="option.value">{{option.text}}</option>
  </select>
</div>

<label>How Far do you want to go?</label>
<select [(ngModel)]="selectedRange" (ngModelChange)="onChangeRange($event)">
  <option *ngFor="let range of ranges" [ngValue]="range.value">{{range.text}}</option>
</select>
<label>How much do you want to pay?</label>
<select [(ngModel)]="selectedCost" (ngModelChange)="onChangeCost($event)">
  <option *ngFor="let amount of cost" [ngValue]="amount.value">{{amount.text}}</option>
</select>

<app-cars [selectedRange]='selectedRange' [selectedCost]='selectedCost' [selectedSortOption]='selectedSortOption'></app-cars>





<router-outlet></router-outlet>